.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: white;
  color: orange;
  padding: 11px 24px 11px 24px;
  border-radius: 8px;
  gap: 10px;
  border: 2px solid orange;
}

.btn:hover {
  background-color: yellow;
  color: black;
}

.filter {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.filterItem span {
  margin-bottom: 5px;
}
.checkboxGroupContainer {
  display: flex;
  flex-direction: column;
}

.search {
  margin: 15px 10px;
  width: 300px;
  height: 15px;
  background: #f3eeee;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.search input {
  background: #f3eeee;
  margin: -8px 0;
  width: 380px;
  color: #828282;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.search input::placeholder {
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
  align-items: center;
  color: #1E0D03;
  opacity: 0.3;
}

.container {
  display: flex;
}

.tablecontainer {
  flex: 1 0 70%;
  border-radius: 10px;
}


.filterLabel {
  font-weight: bold;
  margin-right: 10px;
  display: block;
}

.filterCheckbox {
  margin-right: 5px;
}
.btnfm{
  width: 70px;
  height: 50px;
  color: orange;
  border-color: orange;
  margin-top: 20px;
  margin-left: 100px;
}